<!doctype html>
<html>
  <head>
    <title>Behold: The Internet!</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <h1>Best Todo Manager Ever</h1>

    <section class="todo-form-box">
      <aside class="notifications js-notifications"></aside>
      <h3>I need to...</h3>
      <form method="post" class="js-form">
        <input type="text" name="todo" id="todo-input" placeholder="Present awesome things!"/>
        <input type="submit" id="todo-submit" value="Submit"/>
      </form>
    </section>

    <section class="todos js-todos">
      <h2>Todos</h2>
      <% todos.each do |todo| %>
        <article class="todo" data-id="<%= todo.id %>">
          <button type="button" class="js-destroy">&times;</button>
          <span><%= todo.task %></span>
        </article>
      <% end %>
    </section>

    <script type="text/x-handlebars-template" id="todo-tpl">
      <article class="todo" data-id="{{ id }}">
        <button type="button" class="js-destroy">&times;</button>
        <span>{{ task }}</span>
      </article>
    </script>

    <script type="text/x-handlebars-template" id="notice-add-tpl">
      <p data-id="{{ id }}">Successfully added todo: "{{ task }}"</p>
    </script>

    <script type="text/x-handlebars-template" id="notice-rem-tpl">
      <p data-id="{{ id }}">Successfully removed todo: "{{ task }}"</p>
    </script>

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/handlebars.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
